body{
    padding: 0px;
    margin: 0px;
}
#first{
    width: 80%;
    padding: 10%;
}
#first h1,p{
    margin: auto;
    text-align: center;
}
#first p{
    width: 70px;
    border-radius: 50%;
    height: 70px;
    padding: 2%;
    margin: auto;
    font-size: 50px;
    color: grey;
    background-color: rgb(116, 116, 116,0.5);
}
#second{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 150px;
}

#second #one,#three{
    background-color: red;
    width: 100%;
}
#second #two{
    width: 0%;
    border: 10vw red solid;
    background-color: none;
    border-top: 89px solid transparent;
}
